.card-list {

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.card{
    display: inline-block; 
    background-color: white;
    h3{
        color: grey;
    }
    border: 1px solid gray;
    border-radius: 6px; 
    padding: 20px;
    margin: 10px;
}

.card-contents {
    display: flex;
    gap: 20px;
    width: 400px;
    padding: 2px 8px;
}

.card-icon {
    margin-top: 5px;
    font-size: 40px;
}

.card-action {
    padding: 5px 20px;
    border-radius: 4px;
}