*{
      font-family: "Inter", sans-serif;

}
navbar {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    margin: 25px;
    
}
.logo {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.links {
    display: flex;
    gap: 25px;
    font-size: 20px;
    
}
.active {
    background-color:#ccc;
    padding: 0 5px;
    border-radius: 8px;
}