navbar {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    margin: 25px;
    
}
.logo {
    font-size: 20px;
}
.links {
    display: flex;
    gap: 25px;
    font-size: 20px;
    
}
.button {
    font-size: 20px;
}