*{
      font-family: "Inter", sans-serif;

}
body {
    margin: 0 10px;
}
navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid lightgrey;
    
}
.logo {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.links {
    display: flex;
    gap: 25px;
    font-size: 20px;
    
}
.active {
    background-color:#ccc;
    padding: 4px 8px;
    border-radius: 8px;
}
