*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1080px;
    margin: auto;

}

.hero-action{
    h1{
        text-align: center;
        font-size: 70px;
        padding: 100px;
    }
}
footer {
    display: flex;
    margin: 25px;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}

.brand-name{
    display: flex;
    gap: 10px;
    align-items: center;
    
}
.footer-icons, .legals, .contact-us {
    display: flex;
    gap: 20px;
    margin: 20px;
    font-size: 20px;
    flex-direction: column;
}

.action-btn{
    width: 250px;
    height: 50px;
    font-size: 20px;
    background-color: lightgrey;
    text-align: center;
    padding-top: 10px;
    border-radius: 5px;
    margin: 25px;
} 
h1{
    text-align: center;
    font-size: 50px;
}
h6 {
    text-align: center;
}
h2 {
    text-align: center;
}
.event {
    height: 400px;
    width: 200px;
}
button {
    background-color: black;
    width: 200px ;
    height: 30px;
    text-align: center;
    color: white;
}