* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1080px;
    margin: auto;

}

.banner {
    margin-bottom: 40px;

    img {
        width: 100%;
        max-width: "100%";
        height: auto;
        max-height: 350px;
    }
}


.hero-action{
    h1{

        text-align: center;
        font-size: 70px;
        padding: 100px;
    }
}

footer {
    display: flex;
    margin: 25px;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}

.brand-name {
    display: flex;
    gap: 10px;
    align-items: center;

}

.footer-icons,
.legals,
.contact-us {
    display: flex;
    gap: 20px;
    margin: 20px;
    font-size: 20px;
    flex-direction: column;
}

.action-btn {
    width: 250px;
    height: 50px;
    font-size: 20px;
    background-color: lightgrey;
    text-align: center;
    padding-top: 10px;
    border-radius: 5px;
    margin: 25px;

}

.card-list {
    h1 {
        text-align: center;
        font-size: 50px;
        padding-top: 50px;
    }
    
    h2 {
        text-align: center;
    }
    
}
.card-action {
    background-color: black;
    width: 200px;
    height: 30px;
    text-align: center;
}

.event {
    border: 2px solid lightgrey;
    padding-inline: 40px;
    padding-top: 30px;
    padding-bottom: 50px;

    input[type=text],textarea  {
        width: 400px;

    }

    input, textarea {
        margin-bottom: 20px;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

}

.event-button {
    color: white;
    background-color: black;
    padding: 5px 20px;
    font-size: 30px;
    height: 50px;
    width: 400px;
    border-radius: 4px;
    cursor: pointer;
    a {
        color: white;
        text-decoration-line: none;
    }
}

.event-read-terms {
    padding-bottom: 20px;
    padding-left: 23px;
}

.eventcontainer {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.heading {
    padding-top: 70px;
    h1 {
        text-align: center;
        font-size: 50px;
    }
    h2 {
        text-align: center;
    }
} 

.about-us-contents{
    .description{
        font-size: 18px;
    }
    padding: 80px 2px;
    display: flex;
    gap: 200px;
<<<<<<< HEAD
} 
.success-content{
    min-height: 80vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 40px;

}
=======
}

.heading {
        text-align: left;
        font-size: large;
    }


.table, th, 
            td {
        border: 1px solid #ccc;
        background-color: ;
    }
    .label {
        text-align: right;
        font-style: italic;
    }
>>>>>>> @{-1}
