/*
Pankaj complete the css

*/
 
 body{
    background-color: yellow;
    width: 720px;
    margin: auto;
 }
h2{
    text-decoration: underline;
    text-decoration-style:double;
    font-weight: bolder;
     font-family:cursive;
    text-transform: uppercase;
}
button{
    text-align: center;
    background-color:red;
}
.task-card{
    display: flex;
    gap: 5px;
    margin-top: 10px;
    font-size: 30px;
    font-family: inherit;
}
#tab {
    background-color:greenyellow;

}